@import url('https://rsms.me/inter/inter.css');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono');

@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

:focus { outline: none; } 
::-moz-focus-inner { border: none; }

:root {
  --yellow: #ebb900;
  --cream: #f4f2d6;
  --red: #BA3333;
  --black: #000;
  --off-black: #2E2A2A;
  --link: #0404a0;
  --plex: "IBM Plex Mono", monospace;
  --inter: "Inter", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --yellow: #241663;
    --cream: #160f30;
    --red: #a72693;
    --link: var(--red);
    --black: #eae7af;
    --off-black: #ebe7a1;
  }
}

html, body {
  height: 100%;
  margin: 0;
}

body {
	font-family: 'Inter', sans-serif;
  background: var(--cream) !important;
}

p { color: var(--black); }

a {
  text-decoration: none;
  color: var(--link);
}

a:hover {
	border-bottom: 2px;
}

@media only screen and (max-width: 500px){
	.post > * {
		line-height: 1.5em;
    font-size: 0.7em;
  }
  .postCard {
    font-size: 0.8em;
  }
  .comment > * {
    font-size: 0.7em;
  }
  
}

@media only screen and (max-width: 700px){
  .wrap {
    max-width: calc(100% - 20px) !important;
  }
}
