#app, #app > div {
	height: 100%;
}

#app > div {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.center {
	margin: 10px;
}

.wrap {
	align-self: center;
	max-width: 700px;
	flex: 1;
	
}

.full-width {
	width: 100%;
}

.vertical {
	display: inline-flex;
	align-items: center;
	margin-top: -50px; /* To recenter for the header */
}
