.comment {
	padding: 15px;
	background: var(--cream);
	font-size: 16px;
	hyphens: auto;
	-webkit-hyphens: auto;
}

.commentAuthor {
	font-weight: 900;
	font-size: 1.3em;
	color: black;
	margin-bottom: 0px;
}

.commentBody > p {
	margin-top: 2px;
}

.commentBody {
	text-align: justify;
	font-family: var(--plex);
	color: var(--off-black);
	line-height: 1.3em;
}

.replies {
	border-left: 4px solid var(--yellow);
}

.reply {
	margin-left: 25px;
	margin-right: 50px;
}

.reply, .comment {
	margin-top: 10px;
}