input:not([type="checkbox"]), textarea {
  -webkit-appearance: none;
	-webkit-border-radius: 0;
	border-radius: 0;
}

.formError {
	font-family: var(--plex);
	color: var(--red);
	margin-bottom: 0px;
}

input[type="text"], input[type="password"] {
	color: black;
	background: none;
	font-family: var(--plex);
	font-size: 1.3em;
	letter-spacing: 0.1em;
	margin-bottom: 5px;
	padding: 7px;
	border: none;
	border-bottom: 5px solid var(--yellow);
	box-sizing: border-box;
	max-width: 100%;
}

textarea {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  font-family: var(--plex);
  background: none;
  font-size: 1.2em;
  border: 3px solid var(--yellow);
	resize: none;
	display: block;
	width: 100%;
	box-sizing: border-box;
}

input[type="submit"], button {
	display: block;
	font-size: 1em;
	padding: 10px;
	border: 3px solid black;
	background: none;
	color: black;
	font-family: var(--plex);
	transition-duration: 0.2s;
	box-shadow: 0px 5px var(--yellow);
	transform: translateY(-5px);
}

input[type="submit"]:hover, button:hover {
	box-shadow: none;
	transform: translateY(0);
	color: var(--off-black);
	border-color: var(--off-black);
	cursor: pointer;
	transition-duration: 0.2s;
}

.inlineButton {
	box-shadow: none;
	border: none;
	color: black;
	transform: translateY(0px);
	padding: 0px;
}

.inlineButton:hover {
	cursor: pointer;
	box-shadow: none;
	transform: translateY(0px);
	color: var(--off-black);
}