#headerBorder {
	position: absolute;
	top: 0;
	left: 0;
	height: 20px;
	width: 100%;
	overflow: hidden;
	background: var(--yellow);
}

#headerWrap {
	display: block;
	height: 50px;
}

#header {
	display: inline-block;
	margin-top: -5px;
	position: relative;
	top: 5px;
	left: 5px;
	font-size: 2em;
	font-weight: 900;
	font-style: normal;
	color: var(--red);
	letter-spacing: 0.05em;
	-webkit-text-stroke: 1.2px black;
}

#header:hover {
	text-decoration: none;
}