code {
	color: #662113;
}

pre {
	white-space: pre-wrap;
}

pre > code {
	display: block;
	padding: 10px;
	border: 3px #662113 dashed;	
}

pre > h1 {
	font-size: 20px;
}

blockquote {
	border-left: 5px solid #662113;
	display: block;
	margin-left: 0px;
	padding-left: 15px;
	font-weight: bold;
}

.title {
	margin-bottom: 0px;
	font-size: 32px;
	color: #3c3c3c;
}

.postBody {
	border-top: 2px solid #662113;
	padding-bottom: 20px;
	margin-bottom: 20px;
}

.postAuthor {
	font-weight: normal;
	margin-top: 8px;
	margin-bottom: 4px;
	display: inline-block;
	font-size: 14px;
}

.tweetButton {
	float: right;
	margin-top: 4px;
}

.heart {
	float: right;
	margin-top: 4px;
	margin-right: 8px;
	margin-left: 20px;
}

.bottomBorder {
	border-bottom: 2px solid #662113;
}