pre {
	white-space: pre-wrap;
}

pre > code {
	display: block;
	padding: 10px;
	color: black;
	box-shadow: -8px 8px var(--yellow);
	border: 2px solid var(--yellow);
	background: var(--cream);
}

pre p {
	text-align: justify;
}

blockquote {
	border-left: 5px solid var(--yellow);
	display: block;
	margin-left: 0px;
	padding-left: 15px;
	font-style: italic;
	color: var(--off-black);
}

/* ----------------------------------- */ 

.post p {
	text-align: justify;
	margin-top: 5px;
}

@media only screen and (max-width: 500px){
	.post p {
		text-align: left;
	}
}

.post {
	font-family: var(--plex);
	margin-left: 10px;
	margin-right: 10px;
	font-size: 1.5em;
	line-height: 1.4em;
	color: #000;
	overflow-wrap: anywhere;
}

.postAuthor {
	display: inline-block;
	font-family: var(--inter);
  font-size: 1em;
  font-weight: bold;
  color: var(--off-black);
	margin-bottom: 0px;
	margin-left: 5px;
}

.postAuthor a {
  color: var(--red);
}

.title {
	font-family: var(--inter);
  margin-top: 0px;
  font-weight: 900;
	font-size: 2em;
	line-height: 1.05em;
	margin: 0;
	margin-bottom: 0.5em;
	color: #000;
}

.postBody h1 {
	line-height: 1em;
}

.likeButton i {
	margin-right: 8px;
	vertical-align: middle;
}

.likeButton {
	display: inlin-block;
	float: right;
}
