.postCard {
  padding: 10px;
  color: var(--black);
  display: inline-block;
  text-decoration: none;
  margin-bottom: 16px;
  hyphens: auto;
  -webkit-hyphens: auto;
  width: 100%;
}

.postCard:hover {
  color: var(--off-black) !important;
}

.postCard > h3 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: bold;
  font-size: 1.5em;
}

.postCard p {
  color: var(--off-black);
  margin-top: 2px;
  margin-bottom: 0px;
  font-family: var(--plex);
}

.postVotes {
  padding-top: 10px;
}

.arrowIcon {
  vertical-align: middle;
  margin-right: 7px;
  margin-top: -4px;
}

.postsList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}