.profileHeader {
	font-weight: 900;
	color: #000;
	font-size: 3em;
	margin-bottom: 0px;
}

.profileDate {
  margin-top: -10px;
	font-family: var(--plex);
	font-weight: 600;
	color: var(--off-black);
	font-size: 1.7em;
	margin-bottom: 10px;
}