.tweetButton {
	width: 24px;
	height: 24px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.tweetButton > img {
	width: 80%;
	height: 80%;
	transition-duration: 0.2s;
	padding: 5px;
}

.tweetButton > img:hover {
	width: 95%;
	height: 95%;
	transition-duration: 0.2s;
}