html { -webkit-text-size-adjust: 100%; }
* {
    box-sizing: border-box;
    box-shadow: none;
    border: none;
    outline: none;
    background: none;
    margin: 0;
    padding: 0;
    font-size: 0.91rem !important;
    font-weight: normal !important;
    font-family: monospace; 
    line-height: 1.5em !important;
}

body {
	background: #f7f6e8;
  width: round(down, min(98%, 90ch), 1ch);
  padding-left: 1ch;
}

/* Header */
#border {
	position: absolute;
	top: 0;
	left: 0;
	height: 1lh;
	width: 100%;
	overflow: hidden;
	background: #662113;
}

#headerLink {
	display: block;
	margin: 2lh 0ch 1lh 0ch;
	color: #662113;
	font-weight: bold;
	text-decoration: none;
  color: transparent;
  text-shadow: 0 0 0 #662113;
}

#emoji {
  display: inline-block;
  width: 2ch;
  overflow: hidden;
  vertical-align: middle;
}

/* Generic Elements */
[type=submit] {
  color: blue;
}

[type=submit]:hover {
  text-decoration: underline;
  cursor: pointer;
}

[type=text], [type=password], textarea {
  /* background: color(srgb 0.935 0.9212 0.8041); */
  border-right: 1ch solid gray !important;
  min-width: 24ch;
  width: 100%;
}

textarea {
  resize: vertical;
  width: 100%;
	height: 6lh;
}

pre {
	white-space: pre-wrap;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

code {
	color: #662113;
}

/* Comments and Replies */
.reply {
	margin: 0lh 0 0lh 2ch;
}

.reply + reply {
  margin-top: 1lh;
}

.reply + .replyForm {
  margin-left: 2ch;
}

.comment {
	margin-bottom: 1lh;
}

.target:target::before {
  content: '↘';
  display: block;
}

#commentsHeader {
	margin-top: 1lh;
}

#authorLink {
  flex: 1;
}

.linkList {
	display: flex;
	gap: 1ch;
}

.gamerRage {
	animation: 0.2s shake 10;
}

.postBody {
	margin-top: 1lh;
}

.postBody * {
	margin: revert;
}

.postBody p {
  margin-bottom: 1lh;
}

#postTitle {
  flex: 1;
}

.authorAndVotes {
  display: flex;
}

#failure {
	text-align: center;
}

summary {
	color: blue;
	list-style: none;
}

summary:hover {
  cursor: pointer;
  text-decoration: underline;
}

details > summary::-webkit-details-marker {
	display: none;
}

details[open] > summary {
  color: revert;
}

details[open] > summary::after {
  content: ' ↓';
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}


