body {
	font-family: monospace;
	background: #f7f6e8;
}

/* Header */
#border {
	position: absolute;
	top: 0;
	left: 0;
	height: 5px;
	width: 100%;
	overflow: hidden;
	background: #662113;
}

#headerLink {
	display: block;
	width: 6em;
	font-size: 1.3em;
	color: #662113;
	font-weight: bold;
	text-decoration: none;
	margin-top: 15px;
}

/* Generic Elements */
form > label {
	vertical-align: 4px;
}

form > input[type=text], form > input[type=password] {
	margin-bottom: 5px;
	border: 1px solid darkgray;
	padding: 4px;
	border-radius: 2px;
	box-shadow: none;
	-webkit-appearance: none;
}

form > textarea {
	width: 24em;
	height: 14em;
	margin-bottom: 3px;
	padding: 5px;
	max-width: 700px;
	font-family: monospace;
}

form > input[type=submit] {
	margin-top: 5px;
}

pre {
	white-space: pre-wrap;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h2, h3 {
	margin-bottom: 5px;
}

code {
	color: #662113;
}

.center {
	display: inline-block;
	max-width: 700px;
	display: inline-block;
	text-align: left;
}

.centerWrap {
	text-align: center;
}

.centerWrap:first-child {
	text-align: left;
}

/* Generic class stylings */
.dark {
	color: #2F2F2F;
}

.inline {
	display: inline-block;
}

.floatRight {
	float: right;
	margin-left: 10px;
}

/* Comments and Replies */
#commentsHeader {
	display: block;
	margin-top: 30px;
}

#postCommentLink {
	display: block;
	margin-top: 14px;
}

.comment {
	margin-left: 5px;
}

.reply {
	margin-left: 24px;
}

.replyLink {
	display: block;
	margin-top: 5px;
}

.commentBody, .replyBody {
	margin-top: -7px;
	margin-bottom: 2px;
}

.reply a {
	color: #27259b;
}

/* Misc */
#indexDescription {
	margin-top: 5px;
	margin-bottom: 5px;
}

#authorLink {
	margin-right: 10px;
	margin-bottom: 0px;
}

.linkList {
	margin: 6px;
}

.gamerRage {
	animation: 0.2s shake 10;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}
