{{ define "userlink" -}}
<a href="/~{{ . }}">{{ . }}</a>
{{- end }}

{{ define "postlink" -}}
<a href="/post/{{ .ID }}">{{ .Title }}</a>
{{- end }}

{{ define "commentlink" -}}
<a href="/post/{{ .PostID }}#{{ .ID }}">{{ .Parent.Title }}</a>
{{- end }}

{{ define "commentHeader" -}}
<p class="dark">{{ template "userAndDate" . }}</p>
{{- end }}

{{ define "userAndDate" -}}
{{ template "userlink" .Author }} on
{{ prettyTime .Created }}
{{- end }}

{{ define "replyForm" -}}
<details class="replyform">
	<summary>new reply</summary>
	<form method="POST" action="/api/replies">
		<input type="hidden" name="parentid" value="{{ .ID }}"/>
		<textarea name="body" placeholder="Actually..."></textarea>
		<br>
		<input type="submit" value="Reply"/>
	</form>
</details>
{{- end }}

{{ define "comment" -}}
<div class="comment">
	<div class="target" id="{{ .ID }}">
	{{ template "userlink" .Author }} on
	<a href="/post/{{ .PostID }}#{{ .ID }}">{{ prettyTime .Created }}</a>
	<p class="body">{{ .Body }}</p>
	</div>
	<div class="replies">
	{{ range .Replies }}
		<div class="reply target" id="{{ .ID }}">
			{{ template "userlink" .Author }} on
			<a href="/post/{{ $.PostID }}#{{ .ID }}">{{ prettyTime .Created }}</a>
			<p class="body">{{ .Body }}</p>
		</div>
	{{ end }}
	{{ template "replyForm" . }}
	</div>
</div>
{{- end}}
