{{ define "head" }}
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<meta charset="UTF-8"/>
	<meta name="description" content="Rigby is a site where cool kids can gather to discuss"/>
	<meta name="keywords" content="rigby, forum, microblogging, cool"/>
	<link rel="manifest" href="/static/manifest.json">
	<link rel="stylesheet" type="text/css" href="/static/stylesheet.css"/>
	<link rel="icon" href="/static/icon36.png"/>
	<link rel="apple-touch-icon" sizes="128x128" href="/static/icon128bg.png">
	<meta name="apple-mobile-web-app-status-bar-style" content="default">
	<title>{{ . }}</title>
</head>
{{ end }}