{{ define "/" }}
<!DOCTYPE html>
<html>
	{{ template "head" "rigby" }}
	<body>
		{{ template "header" . }}
		{{ if .Username }} 
		<h3>hello, {{ .Username }}</h3>
		<a href="post">make a post</a>
		<br>
		<a href="~{{ .Username }}">your profile</a>
		<br>
		<a href="/browse/recent">recent posts</a>
		{{ else }}
		<p>rigby is a site where cool kids can gather to discuss.</p>
		<p><a href="/signup">Sign up</a> or <a href="/login">Log in</a> or <a href="/browse/recent">Browse recent posts</a></p>
		{{ end }}
	</body>
</html>
{{ end }}