{{ define "login" }}
<!DOCTYPE html>
<html>
	{{ template "head" "Log in to rigby" }}
	<body>
		{{ template "header" }}
		<div class="centerWrap">
			<div class="center">
				<h2>Log in</h2>
				<form id="form" method="POST" action="/api/login">
					<input type="text" name="username" placeholder="Username"/>
					<br>
					<input type="password" name="password" placeholder="Password"/>
					<br>
					<input type="submit" value="Log In"/>
				</form>
			</div>
		</div>
	</body>
</html>
{{ end }}
