{{ define "newpost" }}
<!DOCTYPE html>
<html>
	{{ template "head" "Create a post" }}
	<body>
		{{ template "header" }}
		<div class="centerWrap">
			<div class="center">
				<h2>Make a post</h2>
				<form method="POST" action="/api/post">
					<input maxlength="140" minlength="3" type="text" name="title" placeholder="Title"/>
					<br>
					<textarea maxlength="10000" minlength="3" name="body" placeholder="Ok so basically..."></textarea>
					<br>
					<input type="submit" value="Submit"/>
				</form>
			</div>
		</div>
	</body>
</html>
{{ end }}
