{{ define "post" }}
<!DOCTYPE html>
<html>
	{{ template "head" "Create a post" }}
	<body>
		{{ template "header" }}
		<div class="centerWrap">
			<div class="center">
				<h2>Make a post</h2>
				<form method="POST" action="/api/post">
					<input maxlength="140" minlength="3" type="text" name="title" placeholder="Title"/>
					<br>
					<textarea maxlength="5000" minlength="3" name="body" placeholder="Ok so basically..."></textarea>
					<br>
					<input id="gamer" name="gamerrage" type="checkbox"/>
					<label for="gamer">Enable gamer rage mode</label>
					<br>
					<input type="submit" value="Submit"/>
					<p id="errorText"></p>
				</form>
			</div>
		</div>
		<script src="/static/form.js"></script>
	</body>
</html>
{{ end }}
