{{ define "post" }}
<!DOCTYPE html>
<html>
	{{ template "head" .Title }}
	<body>
		{{ template "header" . }}
		<div class="centerWrap">
			<div class="center {{ if .GamerRage }} gamerRage {{- end -}}">
				<h3>{{ .Title }}</h3>
				<p class="inline" id="authorLink">By {{ template "userAndDate" . }}</p>
				<p class="inline floatRight">
					<a href="/api/vote/{{ .ID }}" id="voteButton">{{ .Votes }} Votes</a>
				</p>
				<div>{{ markdown .Body }}</div>
				{{ if .Comments }}<p id="commentsHeader"><b>Comments</b></p>{{- end -}}
				<div class="comments">
				{{ range .Comments }}
					<div class="comment" id="{{ .ID }}">
						{{ template "commentHeader" . }}
						<p class="commentBody">{{ .Body }}</p>
						{{ range .Replies }}
							<div class="reply">
								{{ template "commentHeader" . }}
								<p class="replyBody">{{ .Body }}</p>
							</div>
						{{ end }}
						<a class="replyLink" href="/reply/{{ .ID }}">reply</a>
					</div>
				{{ end }}
				<a href="/comment/{{ .ID }}" id="postCommentLink">post a new comment</a>
				</div>
			</div>
		</div>
		<script src="/static/vote.js"></script>
	</body>
</html>
{{ end }}
