{{ define "post" }}
<!DOCTYPE html>
<html>
	{{ template "head" .Title }}
	<body>
		{{ template "header" . }}
			<div class="{{ if .GamerRage -}} gamerRage {{- end }}">
        <div class="authorAndVotes">
          <h3 id="postTitle">{{ .Title }}</h3>
          <form method="POST" action="/api/vote/{{ .ID }}">
            <button type="submit" id="voteButton" title="{{ .GetVoterList }}">&nbsp;{{ .VoteCount }} {{ if eq .VoteCount 1 }}vote{{ else }}votes{{ end }}</button>
          </form>
        </div>
        <p id="authorLink">{{ template "userAndDate" . }}</p>
				<div class="postBody">{{ markdown .Body }}</div>
				<div class="comments">
				{{ range .Comments }}
					{{ template "comment" . }}
				{{ end }}
				<details>
					<summary>add comment</summary>
					<form method="POST" action="/api/comments">
						<input type="hidden" name="postid" value="{{ .ID }}"/>
						<textarea name="body" placeholder="However..."></textarea>
						<input type="submit" value="submit comment"/>
					</form>
				</details>
				</div>
	</body>
</html>
{{ end }}
