{{ define "profile" }}
<!DOCTYPE html>
<html>
	{{ template "head" .Username }}
	<body>
		{{ template "header" }}
		<div class="centerWrap">
			<div class="center">
				<h2>{{ .Username }}</h2>
				<p id="dateJoined" style="margin-top: 5px">joined on {{ printf "%.10s" .Created }}</p>
				{{ if .Posts }}<h3>Posts</h3>{{- end -}}
				{{ range .Posts }}
				<p class="linkList"><a href="/posts/{{ .ID }}">{{ .Title }}</a> <span class="floatRight dark">{{ .Votes }}↑</span></p>
				{{ end }}
			</div>
		</div>
	</body>
</html>
{{ end }}