{{ define "propoganda" }}
<!DOCTYPE html>
<html>
	{{ template "head" "you are not immune to propoganda" }}
	<body>
		{{ template "header" }}
		<h3 style="color: red; font-size: 22px; max-width: 10000px">You are not immune to propoganda<pre>


<dt>sss</dt>
<datagrid><dt></dt></datagrid>

			d;s

			____     ____
			'###\ \ / /###'
			,\\\\\ | /////,
	 __  \ .--. .--. /  __
	___\/ '    |    ' \/___
	-- _, !    |    ! ,_ --
		 / '!    |    !' \
		/'/ !    |    ! \'\
	 1# ! \   0|0   / ! #1
	 !# \  '--; ;--'  / #!
	 `  `\    `-'    /`  `
		\## `--~' '~--` ##/
			`-___________-`

					<kbd></kbd>

			.
		</pre></h3>
	</body>
</html>
{{ end }}