{{ define "reply" }}
<!DOCTYPE html>
<html>
	{{ template "head" "reply..!" }}
	<body>
		{{ template "header" }}
		<div class="centerWrap">
				<div class="center">
					<h3>
						Reply to 
						{{ template "userlink" .Author }}'s comment 
					</h3>
					<form method="POST" action="/api/replies" parentid="{{ .ID }}">
						<input type="textarea" name="body" placeholder="Actually..."/>
						<input type="submit" value="Reply"/>
						<p id="errorText"></p>
					</form>
				</div>
			</div>
			<script src="/static/form.js"></script>
	</body>
</html>
{{ end }}
